{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>in-store search system</title>
    <meta name="description" content="Course work 2: prototype system">
    <meta name="keywords" content="cw2_prototype">
    <meta name="author" content="Niti Kosutao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'material/iceburn200.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>

<body>
    <h1>Add member</h1>
    <form action="edit_record/{{stock.id}}" method="post">
        {% csrf_token %}
        Item name: <br>
        <input type="text" name="name" value="{{stock.item_name}}">
        <br>
        Category: <br>
        <input type="text" name="cat" value="{{stock.cat}}">
        <br>
        Brand: <br>
        <input type="text" name="brand" value="{{stock.brand_name}}">
        <br>
        Quantity: <br>
        <input type="number" name="qty" value="{{stock.qty}}">
        <br>
        Price: <br>
        <input type="number" name="price" value="{{stock.price}}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>